<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Version History - EON Drive</title>
  <%- include('./partials/stylesheet') %>
  <%- include('./partials/script') %>

  <!-- css internal -->
  <style>
    .rec:hover .restore-btn {
      display: block;
    }

    .restore-btn {
      display: none;
    }
    .current-btn:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
    /* .d-flex {
      border: 1px dashed;
    } */
  </style>
</head>

<body>
  <div id="root">
    <%- include('./partials/header') %>
    <!-- main block start -->
    <div class="container">
      <div class="row">
        <!-- left  -->
        <%- include('./partials/left') %>
        <!-- right  -->
        <div class="col-11 d-flex flex-column align-items-start">
          <div class="d-flex align-items-center pb-3" >
            <h4>Version history : </h4>
            <h4 class="ps-2" style="color: grey;"><%= fileName %></h4>
          </div>
          <div class="d-flex justify-content-center" style="width: 100%;">
            <div id="file-history" style="width: 90%;"></div>
          </div>
        </div>
      </div>
      <!-- main block end -->
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script type="module" src="/js/history.js"></script>
  <script>
    $(document).ready(function ()
    {
      $('.dropdown-toggle').dropdown();
    });
  </script>
</body>

</html>