<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EON Drive</title>
  <%- include('../partials/view_stylesheet') %>
    <%- include('../partials/view_script') %>

      <!-- css internal -->
      <style>
        .footer-block {
          position: fixed;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          background-color: white;
        }

        .ff-row:hover .individual-dl-btn {
          display: block;
        }

        .individual-dl-btn {
          display: none;
        }

        .folder {
          cursor: pointer;
        }

        .slash {
          padding: 0 10px;
          font-size: 24px;
        }

        .content-block {
          width: 68vw;
        }

        /* div {
          border: 1px dashed;
        } */

        /* 
        .d-flex {
          border: 1px dashed;
        } */
      </style>
</head>

<body>
  <div id="root">
    <%- include('../partials/view_header') %>
      <!-- Main Body  -->
      <div class="container content-block">
        <div id="share-path" class="d-flex align-items-center py-2">
          <a href="/view/fo/<%= shareToken %>">
            <h3>
              <span class="path-text">
                <%= name %>
              </span>
            </h3>
          </a>

        </div>
        <!-- Button  -->
        <div style="width: 100%; height: 50px;" class="d-flex align-items-center justify-content-between my-2">
          <div class="d-flex align-items-center">
            <div>
              <button type="button" class="btn btn-outline-secondary fo-dl-btn">
                Download
              </button>
            </div>
          </div>
        </div>
        <div>
          <!-- Table  -->
          <div style="width: 100%;">
            <table class="table table-hover" id="fo-list-table">
              <thead id="fo-list-thaed">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Modified</th>
                </tr>
              </thead>
              <tbody id="fo-list-tbody">
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <%- include('../partials/view_footer') %>
  </div>

  <script type="module" src="/js/pages/view/view_folder.js"></script>
</body>

</html>