<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EON Drive</title>
  <%- include('./partial/stylesheet') %>
    <%- include('./partial/script') %>

      <!-- css internal -->
      <style>
        div {
          /* border: 1px dashed; */
        }
        
        #drag-drop-box {
          font-size: 1.5vw;
          border: 2px dashed lightgrey;
          border-radius: 10px;
          height: 100px;
          margin-top: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        #drag-drop-zone.drag-over {
          border: 2px dashed rgb(13, 110, 253);
          border-radius: 10px;
        }

        #drag-drop-box.drag-over {
          border: 2px dashed rgb(13, 110, 253);
          background-color: rgb(245, 245, 245);
        }

        .slash {
          padding: 0 6px 3px;
          font-size: larger;
        }

        table.dataTable tbody td {
          vertical-align: middle;
        }

        .form-check-input {
          border-color: darkgray;
        }

        .folder {
          cursor: pointer;
        }

        .folder:hover {
          color: rgb(57, 120, 223);
          font-weight: bold;
        }

        .file-link {
          color: inherit;
          text-decoration: none;
        }

        .file-link:hover {
          color: rgb(64, 80, 207);
          font-weight: bold;
        }

        .links-operation:hover {
          cursor: pointer;
        }

        .links-operation-svg {
          color: black;
        }

        .links-operation-svg:hover {
          color: darkgrey
        }

        .progress-bar-container {
          width: 100%;
          height: 1.5vh;
          background-color: #f8f5ef;
          border-radius: 5px;
          overflow: hidden;
        }

        .progress-bar {
          height: 100%;
          background-color: #519cf6;
          width: 50%;
          transition: width 0.5s ease-in-out;
        }

        .email-container {
          display: flex;
          flex-direction: column;
        }

        .form-control:focus {
          border-color: #ced4da;
          box-shadow: none;
        }

        .email-list {
          top: calc(100% - 0px);
          z-index: 1000;
          background-color: #fff;
          border-radius: 0 0 0.25rem 0.25rem;
          border: 1px solid #ced4da;
          border-top: none;
          padding: 0 11px;
        }

        .email-item {
          padding: 2px 0;
        }

        .email-item:hover {
          cursor: pointer;
        }

        .email-chips-container {
          display: flex;
          flex-wrap: wrap;
          gap: 5px;
          top: 100%;
          left: 0;
          width: 100%;
          background-color: #fff;
          z-index: 999;
          padding: 10px 0 0 0;
        }

        .email-chips-container .email-chip {
          display: flex;
          align-items: center;
          background-color: #e0e0e0;
          border-radius: 20px;
          padding: 5px 10px;
        }

        .email-chips-container .email-chip .email-text {
          margin-right: 10px;
        }

        .email-chips-container .email-chip .email-remove {
          font-size: 12px;
          color: #999;
          cursor: pointer;
          border-radius: 50%;
          width: 16px;
          height: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #fff;
          border: none;
          margin-left: 5px;
          padding: 0;
          outline: none;
        }

        .email-chips-container .email-chip .email-remove:hover {
          font-weight: bolder;
          background-color: #f2f2f2;
        }

        .noty_theme__custom-theme.noty_bar {
          background-color: #f8f5ef;
          width: 20vw;
          height: auto;
          max-height: 50vh;
          border-radius: 5px;
          overflow-y: auto;
          word-wrap: break-word;
          padding: 10px;
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }

        .btn-custom-yes {
          background-color: #f8f5ef;
        }

        .btn-custom-yes:hover {
          background-color: #f8f5ef;
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
        }

        .btn-custom-no:hover {
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
        }

        .confirm-msg {
          width: 100%;
          white-space: normal;
          word-break: break-word;
          font-size: large;
        }

        .spinner-border {
          width: 3rem;
          height: 3rem;
        }

        #waiting-spinner svg {
          transform: scale(3);
        }
      </style>
</head>

<body>
  <div id="root">
    <%- include('./partial/header') %>
      <!-- main block start -->
      <div class="container content-block">
        <div class="row">
          <!-- left  -->
          <%- include('./partial/left') %>
            <!-- right  -->
            <div class="col-11 d-flex flex-column align-items-center" id="drag-drop-zone">
              <!-- Drag Box -->
              <div style="width: 98%;" id="drag-drop-box">
                Drop files here to upload
              </div>
              <!-- PATH & USAGE -->
              <div class="d-flex align-items-center justify-content-md-between my-2" style="width: 100%;">
                <!-- whole path  -->
                <div id="whole-path" class="d-flex align-items-center ps-2">
                </div>
                <!-- usage -->
                <div class="mx-2" style="width: 20%;">
                  <div id="progress-des"></div>
                  <div class="progress-bar-container">
                    <div class="progress-bar usage-progress" role="progressbar" aria-valuenow="25" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <!-- BUTTON  -->
              <div style="width: 100%; height: 50px;" class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <!-- Upload Buttons -->
                  <div class="dropdown me-3">
                    <button type="button" class="btn btn-light dropdown-toggle hidden-arrow" id="dropdownMenuButton1"
                      data-bs-toggle="dropdown" data-mdb-toggle="dropdown" aria-expanded="false">
                      Upload</button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><button class="dropdown-item" id="file-upload-btn">Upload File</button></li>
                      <li><button class="dropdown-item" id="folder-upload-btn">Upload Folder</button></li>
                    </ul>
                    <form id="file-form" style="display: none;">
                      <input type="file" id="file-input" multiple>
                    </form>
                    <form id="folder-form" style="display: none;">
                      <input type="file" id="folder-input" webkitdirectory multiple>
                    </form>
                  </div>
                  <!-- Create Folder Buttons -->
                  <div class="me-3">
                    <button type="button" class="btn btn-light" data-bs-toggle="modal"
                      data-bs-target="#createFolderModal">Create Folder</button>
                  </div>
                  <!-- Create Folder Modal -->
                  <div class="modal fade" id="createFolderModal" tabindex="-1" aria-labelledby="createFolderModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="createFolderModalLabel">Create Folder</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form id="create-folder-form">
                            <div class="mb-3">
                              <label for="create-folder-name" class="form-label">Folder Name</label>
                              <input type="text" class="form-control" id="create-folder-name" name="folderName">
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-secondary"
                            data-bs-dismiss="modal">Cancel</button>
                          <button type="button" class="btn btn-primary" id="create-btn">Create</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Download Button -->
                  <div class="me-3" style="display: none;" id="download-btn-div">
                    <button type="button" class="btn btn-light" id="download-btn">Download</button>
                  </div>
                  <!-- Delete Button -->
                  <div class="me-3" style="display: none;" id="delete-btn-div">
                    <button type="button" class="btn btn-secondary" id="delete-btn" data-bs-toggle="modal"
                      data-bs-target="#confirmDeleteModal">Delete</button>
                  </div>
                </div>
              </div>
              <!-- LIST TABLE -->
              <div id="list-and-info" class="d-flex align-items-start mb-4" style="width: 100%;">
                <!-- table  -->
                <div id="list-block" class="col-12">
                  <table class="table" id="list-table">
                    <thead class="table-header">
                      <tr>
                        <th><input type="checkbox" name="select-all" id="select-all"></th>
                        <th>Name</th>
                        <th>Modified</th>
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>
              <!-- Modal for get link  -->
              <div class="modal fade" id="getLinkModal" tabindex="-1" aria-labelledby="getLinkModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="getLinkModalLabel">Share with</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="mb-3">
                          <label for="recipient" class="col-form-label">Email:</label>
                          <div class="position-relative email-container">
                            <input type="email" autocomplete="off" class="form-control" id="recipient" disabled>
                            <div class="email-list position-absolute w-100 border rounded-top overflow-auto"
                              style="display: none; max-height: 200px;"></div>
                          </div>
                          <div class="email-chips-container"></div>
                        </div>
                        <div class="mb-3">
                          <div class="form-check">
                            <input class="form-check-input" type="radio" value="anyone" name="access" id="access-anyone"
                              checked>
                            <label class="form-check-label" for="access-anyone">
                              Anyone knows the link
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" value="user" name="access" id="access-user">
                            <label class="form-check-label" for="access-user">
                              User
                            </label>
                          </div>
                        </div>
                        <div class="selected-emails mb-3"></div>
                      </form>
                      <hr class="my-3">
                      <div>
                        <div>People with access: </div>
                        <div id="current-access-list"></div>
                      </div>
                    </div>
                    <div class="modal-footer flex-nowrap p-0">
                      <button type="button"
                        class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0 border-end"
                        data-bs-dismiss="modal" id="create-link-cancel-btn">Cancel</button>
                      <button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 m-0 rounded-0"
                        id="create-link-btn"><strong>Create Link</strong></button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal for get link end  -->
              <!-- Modal for revoke link  -->
              <div class="modal fade" id="revokeLinkModal" tabindex="-1" aria-labelledby="revokeLinkModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="revokeLinkModalLabel">Revoke Share Link</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div>Are you sure to revoke the link?</div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" id="revoke-link-btn">
                        <!-- data-bs-toggle="modal" data-bs-target="#revokeAlertModal"> -->
                        Yes
                      </button>
                      <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        No
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal for revoke link end  -->
              <!-- Modal for revoke link alert  -->
              <div class="modal fade" id="revokeAlertModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body my-3" id="revoke-alert-msg">
                      <!-- Your link has been revoked. -->
                    </div>
                    <!-- <div class="modal-footer">
                      <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                    </div> -->
                  </div>
                </div>
              </div>
              <!-- Modal for revoke link alert end -->
              <!-- Modal for copy link prompt  -->
              <div class="modal fade" id="linkModal" tabindex="-1" aria-labelledby="linkModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="linkModalLabel">Here's your link:</h5>
                    </div>
                    <div class="modal-body">
                      <input type="text" class="form-control" id="linkInput" value="" readonly>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary btn-sm copy-link-btn"
                        data-dismiss="modal">Copy</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal for copy link prompt end -->
              <!-- Modal for waiting -->
              <div class="modal fade" id="waitingModal" tabindex="-1" role="dialog" aria-labelledby="waitingModalLabel"
                aria-hidden="true">
                <!-- note for modal: data-bs-backdrop="static" -->
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <div>
                        <h5 id="waiting-status" class="pb-3"></h5>
                      </div>
                      <div class="text-center pb-3">
                        <div id="waiting-spinner" class="spinner-border text-secondary" role="status">
                          <span class="visually-hidden">Loading...</span>
                          <span id="waiting-complete" style="display: none;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                              class="bi bi-check-circle" viewBox="0 0 16 16">
                              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                              <path
                                d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                            </svg>
                          </span>
                        </div>
                        <div id="waiting-error"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal for waiting end  -->
              <!-- Modal for confirm delete  -->
              <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                      <div id="confirm-delete-msg" class="text-wrap confirm-msg"></div>
                      <div class="d-flex justify-content-end pt-3">
                        <button type="button" class="btn btn-custom-yes ms-2" id="confirm-delete-btn">
                          Yes
                        </button>
                        <button type="button" class="btn btn-custom-no ms-2" data-bs-dismiss="modal">
                          No
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal for confirm delete end  -->
              <!-- Modal for error  -->
              <div class="modal fade" id="errorModal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                      <div id="error-msg" class="text-wrap"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Modal for error end  -->
            </div>
        </div>
        <!-- main block end -->
      </div>
      <%- include('./partial/footer') %>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script type="module" src="/js/pages/member/header.js"></script>
  <script type="module" src="/js/pages/member/home.js"></script>
  <script type="module" src="/js/pages/member/component/home_download.js"></script>
  <script type="module" src="/js/pages/member/component/home_delete.js"></script>
  <script type="module" src="/js/pages/member/component/home_upload.js"></script>
  <script type="module" src="/js/pages/member/component/home_createfolder.js"></script>
  <script type="module" src="/js/pages/member/component/home_mnglink.js"></script>
  <script>
    $(document).ready(function ()
    {
      $('.dropdown-toggle').dropdown();
    });
  </script>
</body>

</html>