<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Links - EON Drive</title>
  <%- include('./partial/stylesheet') %>
    <%- include('./partial/script') %>
      <!-- css internal -->
      <style>
        .d-flex {
          /* border: 1px dashed; */
        }

        .user-email {
          font-size: smaller;
          color: rgb(86, 86, 86);
        }

        .you-shared-row:hover .revoke-btn {
          display: block;
        }

        .revoke-btn {
          display: none;
        }

        .custom-operation-btn:hover {
          background-color: #f8f5ef;
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
        }

        .btn-custom-yes {
          background-color: #f8f5ef;
        }

        .btn-custom-yes:hover {
          background-color: #f8f5ef;
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
        }

        .btn-custom-no:hover {
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
        }
      </style>
</head>

<body>
  <div id="root">
    <%- include('./partial/header') %>
      <!-- main block start -->
      <div class="container content-block">
        <div class="row">
          <!-- left  -->
          <%- include('./partial/left') %>
            <!-- right  -->
            <div class="col-11 d-flex flex-column align-items-start">

              <div class="d-flex align-items-center justify-content-md-between my-2" style="width: 100%;">
                <div>
                  <h4>Your Links</h4>
                </div>
              </div>

              <div class="col-12 d-flex flex-column align-items-center mt-3">
                <!-- table  -->
                <div style="width: 100%;">
                  <table class="table" id="links-you-shared-table">
                    <thead class="table-header">
                      <tr>
                        <th scope="col">File / Folder</th>
                        <th scope="col">Link</th>
                        <th scope="col">Access</th>
                      </tr>
                    </thead>
                    <tbody id="links-you-shared-tbody">
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
        </div>
        <!-- Modal for revoke link  -->
        <div class="modal fade" id="revokeLinkModal" tabindex="-1" aria-labelledby="revokeLinkModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="revokeLinkModalLabel">Revoke Share Link</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div id="revoke-confirm-q" >Are you sure to revoke the link?</div>
              <div class="d-flex justify-content-end pt-4">
                <button type="button" class="btn btn-custom-yes ms-2" id="revoke-link-btn">
                  Yes
                </button>
                <button type="button" class="btn btn-custom-no ms-2" data-bs-dismiss="modal">
                  No
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal for revoke link end  -->
        <!-- Modal for revoke link alert  -->
        <div class="modal fade" id="revokeAlertModal" tabindex="-1" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body my-3" id="revoke-alert-msg">
                <!-- Your link has been revoked. -->
              </div>
              <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
              </div> -->
            </div>
          </div>
        </div>
        <!-- Modal for revoke link alert end -->
        <!-- main block end -->
      </div>
      <%- include('./partial/footer') %>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script type="module" src="/js/pages/member/header.js"></script>
  <script type="module" src="/js/pages/member/links.js"></script>
  <script>
    $(document).ready(function ()
    {
      $('.dropdown-toggle').dropdown();
    });
  </script>
</body>

</html>