<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= name %> - EON Drive</title>
  <%- include('./partial/stylesheet') %>
    <%- include('./partial/script') %>

      <!-- css internal -->
      <style>
        .ff-row:hover .individual-dl-btn {
          display: block;
        }

        .individual-dl-btn {
          display: none;
        }

        .custom-operation-btn {
          background-color: #f8f5ef;
        }
        .custom-operation-btn:hover {
          background-color: #f8f5ef;
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
        }

        .folder {
          cursor: pointer;
        }

        .slash {
          padding: 0 10px;
          font-size: 24px;
        }

        .spinner-border {
          width: 3rem;
          height: 3rem;
        }

        #waiting-spinner svg {
          transform: scale(3);
        }
        @media screen and (max-width: 1500px) {
          .content-block {
            width: 68vw;
          }
        }
      </style>
</head>

<body>
  <div id="root">
    <%- include('./partial/header') %>
      <!-- Main Body  -->
      <div class="container content-block">
        <div id="share-path" class="d-flex align-items-center py-2" data-target-name="<%= name %>">
          <a href="/view/fo/<%= shareToken %>">
            <h3>
              <span class="path-text">
                <%= name %>
              </span>
            </h3>
          </a>
        </div>
        <!-- Button  -->
        <div style="width: 100%; height: 50px;" class="d-flex align-items-center justify-content-between my-2">
          <div class="d-flex align-items-center">
            <div>
              <button type="button" class="btn custom-operation-btn fo-dl-btn">
                Download
              </button>
            </div>
          </div>
        </div>
        <div>
          <!-- Table  -->
          <div style="width: 100%;">
            <table class="table" id="fo-list-table">
              <thead id="fo-list-thaed">
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Modified</th>
                </tr>
              </thead>
              <tbody id="fo-list-tbody">
              </tbody>
            </table>
          </div>
        </div>
        <!-- Modal for waiting -->
        <div class="modal fade" id="waitingModal" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <div class="d-flex justify-content-between">
                  <div><h5 id="waiting-status" class="pb-3"></h5></div>
                  <button type="button" id="waiting-close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="text-center pb-3">
                  <div id="waiting-spinner" class="spinner-border text-secondary" role="status">
                    <span class="visually-hidden">Loading...</span>
                    <span id="waiting-complete" style="display: none;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-check-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                          d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z" />
                      </svg>
                    </span>
                  </div>
                  <div id="waiting-error"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal for waiting end  -->
      </div>
      <%- include('./partial/footer') %>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script type="module" src="/js/pages/member/header.js"></script>
  <script type="module" src="/js/pages/visitor/view_folder.js"></script>
</body>

</html>