<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EON Drive</title>
  <%- include('../visitor/partial/stylesheet') %>
    <%- include('../visitor/partial/script') %>
      <!-- css internal -->
      <style>
        .content-block {
          width: 68vw;
        }
      </style>
</head>

<body>
  <div id="root">
    <%- include('../visitor/partial/header') %>
      <!-- Main Body  -->
      <div class="container content-block">
        <h1><%= status %></h1>
        <div><%= message %></div>
      </div>
      <%- include('../visitor/partial/footer') %>
  </div>
</body>

</html>