<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>EON Drive</title>
  <%- include('../partials/view_stylesheet') %>
    <%- include('../partials/view_script') %>

      <!-- css internal -->
      <style>
        .footer-block {
          position: fixed;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          background-color: white;
        }

        .content-block {
          width: 68vw;
        }

        /* div {
          border: 1px dashed;
        } */

        /* 
        .d-flex {
          border: 1px dashed;
        } */
      </style>
</head>

<body>
  <div id="root">
    <%- include('../partials/view_header') %>
      <!-- Main Body  -->
      <div class="container content-block">
        <h1><%= status %></h1>
        <div><%= message %></div>
      </div>
      <%- include('../partials/view_footer') %>
  </div>

  <!-- <script type="module" src="/js/pages/view/view_folder.js"></script> -->
</body>

</html>